In [1]:
import pandas as pd
import numpy as np
import spacy
from collections import Counter
import os
import threading
from multiprocessing import Process
import time
import pandas as pd
import numpy as np
import requests
import json
import time
import difflib
from sqlalchemy import create_engine
import json

In [2]:
engine = create_engine('postgresql://postgres:securep@sshere@192.168.0.11:5432/robotLectura')
#engine = create_engine('postgresql://postgres:securep@sshere@192.168.0.22:5432/robotLectura')

In [3]:
df_db_num_credito = pd.read_sql('''
    Select demanda.id_demanda, dato_relevante.num_credito, demanda.cod_demanda
    from demanda 
    inner join documento_procesado on demanda.id_demanda=documento_procesado.id_demanda
    inner join dato_relevante on documento_procesado.id_documento_procesado=(dato_relevante.id_documento_procesado)
''', engine)
df_db_num_credito = df_db_num_credito.sort_values(by=['id_demanda'])
print(df_db_num_credito.shape)
df_db_num_credito.head(2)

(472, 3)

    id_demanda num_credito  cod_demanda
70         352  3109079986           13
78         354  1109209752           26

In [4]:
def get_cod_demanda(num_credito):
    df_db = pd.read_sql('''
        Select demanda.id_demanda, dato_relevante.num_credito, demanda.cod_demanda
        from demanda 
        inner join documento_procesado on demanda.id_demanda=documento_procesado.id_demanda
        inner join dato_relevante on documento_procesado.id_documento_procesado=(dato_relevante.id_documento_procesado)
        where dato_relevante.num_credito=\''''+str(num_credito)+'\''
    , engine)
    return (df_db.iloc[0]['cod_demanda'])

In [5]:
def leer_escritura(cod_demanda, num_credito):
    where = ""
    if cod_demanda is not None:
        where = "and demanda.cod_demanda="+str(cod_demanda)
    elif num_credito is not None:
        where = "and demanda.cod_demanda="+str(get_cod_demanda(num_credito))
    command = ('''
        Select demanda.id_demanda, id_cat_tipo_demanda, demanda.cod_demanda, documento_procesado.id_documento_procesado, documento_procesado.json_datos_fundamentales, documento_procesado.enlace_documento, pagina_procesada.numero_pagina, pagina_procesada.texto_procesado
        from demanda 
        inner join documento_procesado on demanda.id_demanda=documento_procesado.id_demanda
        inner join pagina_procesada on documento_procesado.id_documento_procesado=pagina_procesada.id_documento_procesado
        '''+ where
    )
    #where documento_procesado.id_cat_tipo_documento=1 
    df_db = pd.read_sql(command, engine)
    df_db['texto_procesado'] = df_db['texto_procesado'].apply(lambda x: str(x).replace("\n", " ").replace("\"","'"))
    df_db = df_db.sort_values(by=['cod_demanda','numero_pagina'])
    df_db.drop_duplicates(subset =["numero_pagina", "id_documento_procesado"], inplace = True)
    df_db.reset_index(drop=True, inplace=True)
    return df_db

In [6]:
test_df = leer_escritura(None,805117974)
test_df

,id_demanda,id_cat_tipo_demanda,cod_demanda,id_documento_procesado,json_datos_fundamentales,enlace_documento,numero_pagina,texto_procesado
0,383,3,145,3119,"{""datoFundamental"":[{""codDatoFundamental"":""df0...",http://cardmin.frion.mx/credito/9659/1/08RqSdB...,1,VALENTIA 3 copias GHIHUAHUA ESC CARDMIN LEA TA...
1,383,3,145,3120,"{""datoFundamental"":[{""codDatoFundamental"":""df0...",http://cardmin.frion.mx/credito/9659/1/bK6G0jc...,1,INSTITUTO DEL FONDO NACIONAL DE LA VIVIENDA PA...
2,383,3,145,3119,"{""datoFundamental"":[{""codDatoFundamental"":""df0...",http://cardmin.frion.mx/credito/9659/1/08RqSdB...,2,No 2334101 Chihuahua Tisoreria Municipal de Ch...
3,383,3,145,3120,"{""datoFundamental"":[{""codDatoFundamental"":""df0...",http://cardmin.frion.mx/credito/9659/1/bK6G0jc...,2,INSTITUTO DEL FONDO NACIONAL DE LA VIVIENDA PA...
4,383,3,145,3119,"{""datoFundamental"":[{""codDatoFundamental"":""df0...",http://cardmin.frion.mx/credito/9659/1/08RqSdB...,3,SOLICITUD PARA EL PAGO DE DERECHOS POR ACTOS J...
...,...,...,...,...,...,...,...,...
85,383,3,145,3119,"{""datoFundamental"":[{""codDatoFundamental"":""df0...",http://cardmin.frion.mx/credito/9659/1/08RqSdB...,77,INSTITUTO DEL FONDO NACIONAL DE LA VIVIENDA PA...
86,383,3,145,3119,"{""datoFundamental"":[{""codDatoFundamental"":""df0...",http://cardmin.frion.mx/credito/9659/1/08RqSdB...,78,INSTITUTO FEDERAL ELECTORAL REGISTRO FEDERAL D...
87,383,3,145,3119,"{""datoFundamental"":[{""codDatoFundamental"":""df0...",http://cardmin.frion.mx/credito/9659/1/08RqSdB...,79,Encuesta de Diagnostico .INFONAVIT 'FECHA ELAB...
88,383,3,145,3119,"{""datoFundamental"":[{""codDatoFundamental"":""df0...",http://cardmin.frion.mx/credito/9659/1/08RqSdB...,80,YY Encuesta de Diagnostico INFONAVIT En caso d...
89,383,3,145,3119,"{""datoFundamental"":[{""codDatoFundamental"":""df0...",http://cardmin.frion.mx/credito/9659/1/08RqSdB...,81,Encuesta de Diagnostico INFONAVIT 1. Situacion...

In [7]:
def leer_datos_encontrados_escritura(cod_demanda, num_credito):
    return json.loads(leer_escritura(cod_demanda,num_credito).iloc[0]["json_datos_fundamentales"])

### Datos fundamentales

In [8]:
def get_dato_fundamental(cod_dato_fundamental, activo=None):
    if activo==None:
        if cod_dato_fundamental != None:
            df_db = pd.read_sql("""
                Select *
                from  cat_dato_fundamental 
                where cod_dato_fundamental='"""+cod_dato_fundamental+"""'
                """
            , engine)
        else:
            df_db = pd.read_sql("""
                Select *
                from  cat_dato_fundamental
                """
            , engine)
    else:
        if cod_dato_fundamental != None:
            df_db = pd.read_sql("""
                Select *
                from  cat_dato_fundamental 
                where activo=1 and cod_dato_fundamental='"""+cod_dato_fundamental+"""'
                """
            , engine)
        else:
            df_db = pd.read_sql("""
                Select *
                from  cat_dato_fundamental
                where activo=1
                """
            , engine)
    return (df_db)

In [9]:
get_dato_fundamental(None, activo=True).head(1)

,id_cat_dato_fundamental,cod_dato_fundamental,des_dato_fundamental,id_cat_formato,columna_reporte,activo,prioridad,editable,modelo_ner,entidad,servicio_npl,requerido,actualizar,campo_dato_relevante,obligatorio_envio_cliente,origen_entidad
0,97,fd097,ESTADO,1,None,1,None,1,ner-certificado,ESTADO,False,True,False,estado,True,None

### Tipo demanda dato fundamental

In [10]:
def get_demanda_dato_fundamental(id_cat_tipo_demanda):
    df_db = pd.read_sql('''
        Select id_cat_dato_fundamental
        from tipo_demanda_dato_fundamental 
        where id_cat_tipo_demanda=\''''+str(id_cat_tipo_demanda)+'\''
    , engine)
    return (df_db)

In [11]:
get_demanda_dato_fundamental(1).head(2)

   id_cat_dato_fundamental
0                        1
1                        2

### Tabla de entidades activas y que deben estar

In [12]:
def get_tabla_entidades(id_cat_tipo_demanda, activo=True):
    df1 = get_dato_fundamental(None, activo=activo)[["id_cat_dato_fundamental", "cod_dato_fundamental","entidad", "des_dato_fundamental","modelo_ner"]]
    df2 = get_demanda_dato_fundamental(id_cat_tipo_demanda)
    df3 = df2.merge(df1, on='id_cat_dato_fundamental')
    df3.sort_values(by=['des_dato_fundamental'], inplace=True)
    return df3

In [13]:
get_tabla_entidades(3).head(2)

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental,modelo_ner
4,6,df006,APODERADO,APODERADO,ner-general
68,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE,ner-escritura

In [14]:
get_tabla_entidades(3)["modelo_ner"].unique()

array(['ner-general', 'ner-escritura', 'ner-certificado',
       'avaluo_adjudicacion'], dtype=object)

### Comprobar datos escritura

In [15]:
def get_valor_encontrado(json_datos_encontrados, cod_dato_fundamental):
    for dato_fundamental in json_datos_encontrados["datoFundamental"]:
        if dato_fundamental["codDatoFundamental"] == cod_dato_fundamental:
            return dato_fundamental["valor"]
        
def get_pagina_valor_encontrado(json_datos_encontrados, cod_dato_fundamental):
    for dato_fundamental in json_datos_encontrados["datoFundamental"]:
        if dato_fundamental["codDatoFundamental"] == cod_dato_fundamental:
            return dato_fundamental["numPaginaDocumento"]

In [16]:
df = leer_escritura(None,809035316)

In [17]:
id_cat_tipo_demanda = df.iloc[0]["id_cat_tipo_demanda"]

In [55]:
#for json_ in list(df["json_datos_fundamentales"].unique()):
#    print(json_)
#    print("*"*10)

In [58]:
json_datos_encontrados = {"datoFundamental": []}
for json_ in list(df["json_datos_fundamentales"].unique()):
    aux_json = json.loads(json_)
    #json_datos_encontrados = {**json_datos_encontrados, **aux_json}
    if len(aux_json["datoFundamental"])>0:
        for dato in aux_json["datoFundamental"]:
            json_datos_encontrados["datoFundamental"].append(dato)

In [53]:
json_datos_encontrados

{'datoFundamental': [{'codDatoFundamental': 'df001',
   'valor': 'CHIHUAHUA',
   'numPaginaDocumento': '1',
   'revisado': False},
  {'codDatoFundamental': 'df002',
   'valor': ' ',
   'numPaginaDocumento': '1',
   'revisado': False},
  {'codDatoFundamental': 'df003',
   'valor': 'OLIVAS GRANADOS JULIO EFREN',
   'numPaginaDocumento': '1',
   'revisado': False},
  {'codDatoFundamental': 'df025',
   'valor': 'VSM',
   'numPaginaDocumento': '1',
   'revisado': False},
  {'codDatoFundamental': 'df057',
   'valor': ' ',
   'numPaginaDocumento': '1',
   'revisado': False},
  {'codDatoFundamental': 'df058',
   'valor': '393.7',
   'numPaginaDocumento': '1',
   'revisado': False},
  {'codDatoFundamental': 'df060',
   'valor': '393.7710',
   'numPaginaDocumento': '1',
   'revisado': False},
  {'codDatoFundamental': 'df062',
   'valor': '6',
   'numPaginaDocumento': '1',
   'revisado': False},
  {'codDatoFundamental': 'df063',
   'valor': '01/07/2011,01/12/2012,01/01/2014',
   'numPaginaDocumento': '1',
   'revisado': False},
  {'codDatoFundamental': 'df102',
   'valor': 'FACULTADES',
   'numPaginaDocumento': '1',
   'revisado': False},
  {'codDatoFundamental': 'df103',
   'valor': ' ',
   'numPaginaDocumento': '1',
   'revisado': False},
  {'codDatoFundamental': 'df056',
   'valor': '36',
   'numPaginaDocumento': '7',
   'revisado': False},
  {'codDatoFundamental': 'df059',
   'valor': '',
   'numPaginaDocumento': 'null',
   'revisado': False},
  {'codDatoFundamental': 'df061',
   'valor': '',
   'numPaginaDocumento': 'null',
   'revisado': False},
  {'codDatoFundamental': 'df067',
   'valor': '',
   'numPaginaDocumento': 'null',
   'revisado': False},
  {'codDatoFundamental': 'df068',
   'valor': '',
   'numPaginaDocumento': 'null',
   'revisado': False},
  {'codDatoFundamental': 'df069',
   'valor': '',
   'numPaginaDocumento': 'null',
   'revisado': False},
  {'codDatoFundamental': 'df070',
   'valor': '',
   'numPaginaDocumento': 'null',
   'revisado': False},
  {'codDatoFundamental': 'df071',
   'valor': '',
   'numPaginaDocumento': 'null',
   'revisado': False},
  {'codDatoFundamental': 'df072',
   'valor': '',
   'numPaginaDocumento': 'null',
   'revisado': False},
  {'codDatoFundamental': 'df073',
   'valor': '',
   'numPaginaDocumento': 'null',
   'revisado': False},
  {'codDatoFundamental': 'df074',
   'valor': '',
   'numPaginaDocumento': 'null',
   'revisado': False},
  {'codDatoFundamental': 'df089',
   'valor': '',
   'numPaginaDocumento': 'null',
   'revisado': False},
  {'codDatoFundamental': 'df090',
   'valor': '',
   'numPaginaDocumento': 'null',
   'revisado': False},
  {'codDatoFundamental': 'df099',
   'valor': '',
   'numPaginaDocumento': 'null',
   'revisado': False},
  {'codDatoFundamental': 'df100',
   'valor': '',
   'numPaginaDocumento': 'null',
   'revisado': False},
  {'codDatoFundamental': 'df127',
   'valor': '',
   'numPaginaDocumento': 'null',
   'revisado': False},
  {'codDatoFundamental': 'df128',
   'valor': '',
   'numPaginaDocumento': 'null',
   'revisado': False}]}

In [45]:
#json_datos_encontrados = json.loads(df.iloc[0]["json_datos_fundamentales"])

In [19]:
tabla_entidades = get_tabla_entidades(id_cat_tipo_demanda)

In [20]:
tabla_entidades.head(3)

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental,modelo_ner
4,6,df006,APODERADO,APODERADO,ner-general
90,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE,ner-escritura
39,41,df041,CLAUSULA_ACTUALIZACION_CREDITO,CLAUSULA DE ACTUALIZACIÓ DEL CRÉDITO,ner-escritura

In [21]:
def deleteNan(x, returnString):
    try:
        int(x)
        if returnString:
            return str(x)
        else:
            return int(x)
    except:
        if returnString:
            return ""
        else:
            return 0

tabla_entidades["valor_encontrado"] = tabla_entidades["cod_dato_fundamental"].apply(lambda x: get_valor_encontrado(json_datos_encontrados, x))
tabla_entidades["pagina_encontrado"] = tabla_entidades["cod_dato_fundamental"].apply(lambda x: get_pagina_valor_encontrado(json_datos_encontrados, x))
tabla_entidades["pagina_encontrado"] = tabla_entidades["pagina_encontrado"].apply(lambda x: deleteNan(x, False))

In [22]:
df_empty = pd.read_sql("""
        Select id_cat_dato_fundamental
        from grupo_entidades 
        where grupo_entidad='EMPTY'
        """
    , engine)

In [23]:
df_empty

    id_cat_dato_fundamental
0                        52
1                        45
2                        51
3                       125
4                        94
5                        92
6                        93
7                        95
8                       122
9                       123
10                        4

In [24]:
tabla_entidades2=tabla_entidades.copy()
tabla_entidades2=tabla_entidades2[~tabla_entidades2.id_cat_dato_fundamental.isin(list(df_empty["id_cat_dato_fundamental"]))]
tabla_entidades2=tabla_entidades2[~tabla_entidades2.entidad.isin(["PORCENTAJE_REA", "COLINDANCIAS_10", "COLINDANCIAS_11", "COLINDANCIAS_12", "COLINDANCIAS_5", "COLINDANCIAS_6", "COLINDANCIAS_7", "COLINDANCIAS_8", "COLINDANCIAS_9"])]

In [25]:
tabla_entidades2.head(2)

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental,modelo_ner,valor_encontrado,pagina_encontrado
4,6,df006,APODERADO,APODERADO,ner-general,None,0
90,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE,ner-escritura,,55

In [26]:
def get_entidades_vacias(df, columna="valor_encontrado", espacio=True, vacia=True):
    df_ = pd.DataFrame()
    if espacio:
        df_ = df_.append(df[df[columna] == " "])
    if vacia:
        df_ = df_.append(df[df[columna] == ""])
    return df_

In [27]:
tabla_entidades_vacias = get_entidades_vacias(tabla_entidades2)
tabla_entidades_vacias

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental,modelo_ner,valor_encontrado,pagina_encontrado
90,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE,ner-escritura,,55
34,36,df036,REA_VSM,REA EN VSM,ner-escritura,,47
75,82,df082,PORCENTAJE_ROA,ROA % (CONYUGE),ner-escritura,,38
32,34,df034,ROA_VSM,ROA EN VSM,ner-escritura,,47
72,75,df075,CREDITO_PESOS,CRÉDITO OTORGADO EN PESOS (CONYUGE),ner-escritura,,0
51,54,df054,FOLIO_REAL,DATO DE REGISTRO O FOLIO REAL (COMPRAVENTA),ner-escritura,,0
50,53,df053,DISTRITO_RPP,DISTRITO DEL RPP,ner-escritura,,0
52,55,df055,FECHA_FOLIO_REAL,FECHA DATO DE REGISTRO O FOLIO REAL (COMPRAVE...,ner-escritura,,0
77,85,df085,REA_VSM,REA EN VSM (CONYUGE),ner-escritura,,0
74,79,df079,TASA_INTERES_MORATORIO,TASA DE INTERÉS MORATORIO (CONYUGE),ner-escritura,,0

In [28]:
print(f"Cantidad de entidades a encontrar: {len(tabla_entidades2)}")

Cantidad de entidades a encontrar: 95

## print(f"Cantidad de entidades vacías: {len(tabla_entidades_vacias)}")

In [29]:
print(f"Porcentaje de entidades encontradas: {(len(tabla_entidades2)-len(tabla_entidades_vacias))/len(tabla_entidades2)}")

Porcentaje de entidades encontradas: 0.8947368421052632

In [30]:
results = pd.read_excel("results_1.xlsx")
print(results.shape)
results.head(2)

(55, 7)

,CREDITO,ENTIDAD,Dato,Problema,Dato r,DATO REAL,PAGINA
0,809035316,CIUDAD DEL INMUEBLE,,No encontré el avalúo,,,NaN
1,809035316,CLAUSULA DE ACTUALIZACIÓ DEL CRÉDITO,DECIMA PRIMERA,Ok,NaN,DECIMA PRIMERA,41.0

In [31]:
tabla_entidades3 = tabla_entidades2.copy()

In [32]:
tabla_entidades3["valor_real"] = ""
tabla_entidades3["pagina_real"] = ""
tabla_entidades3.reset_index(inplace=True,drop=True)
tabla_entidades3.head(2)

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental,modelo_ner,valor_encontrado,pagina_encontrado,valor_real,pagina_real
0,6,df006,APODERADO,APODERADO,ner-general,None,0,,
1,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE,ner-escritura,,55,,

In [33]:
for index, row in tabla_entidades3.iterrows():
    x = row['des_dato_fundamental']
    value = str(results[results["ENTIDAD"] == x]["DATO REAL"].iloc[0]) if len(results[results["ENTIDAD"] == x])>0 else ""
    tabla_entidades3.at[index,'valor_real'] = value.upper()


for index, row in tabla_entidades3.iterrows():
    x = row['des_dato_fundamental']
    value = str(results[results["ENTIDAD"] == x]["PAGINA"].iloc[0]) if len(results[results["ENTIDAD"] == x])>0 else ""
    #tabla_entidades3.at[index,'pagina_real'] = int(value)
    try:
        tabla_entidades3.at[index,'pagina_real'] = int(float(value))
    except:
        tabla_entidades3.at[index,'pagina_real'] = -1

In [34]:
tabla_entidades3.head(2)

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental,modelo_ner,valor_encontrado,pagina_encontrado,valor_real,pagina_real
0,6,df006,APODERADO,APODERADO,ner-general,None,0,,-1
1,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE,ner-escritura,,55,,-1

In [35]:
tabla_entidades3["texto_es_correcto"] = False
tabla_entidades3["pagina_es_correcta"] = False
tabla_entidades3.head(2)

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental,modelo_ner,valor_encontrado,pagina_encontrado,valor_real,pagina_real,texto_es_correcto,pagina_es_correcta
0,6,df006,APODERADO,APODERADO,ner-general,None,0,,-1,False,False
1,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE,ner-escritura,,55,,-1,False,False

In [36]:
for index, row in tabla_entidades3.iterrows():
    if str(row['valor_encontrado']) == str(row['valor_real']):
        if str(row['valor_real']).rstrip() != "":
            tabla_entidades3.at[index,'texto_es_correcto'] = True
            
for index, row in tabla_entidades3.iterrows():
    if (row['pagina_encontrado'] == row['pagina_real']):
        tabla_entidades3.at[index,'pagina_es_correcta'] = True
    elif (row['pagina_encontrado'] == row['pagina_real']-1) and (row["texto_es_correcto"] == True):
        tabla_entidades3.at[index,'pagina_es_correcta'] = True
            
tabla_entidades3

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental,modelo_ner,valor_encontrado,pagina_encontrado,valor_real,pagina_real,texto_es_correcto,pagina_es_correcta
0,6,df006,APODERADO,APODERADO,ner-general,None,0,,-1,False,False
1,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE,ner-escritura,,55,,-1,False,False
2,41,df041,CLAUSULA_ACTUALIZACION_CREDITO,CLAUSULA DE ACTUALIZACIÓ DEL CRÉDITO,ner-escritura,DECIMA PRIMERA,41,DECIMA PRIMERA,41,True,True
3,46,df046,CLAUSULA_CONSTITUCION_HIPOTECA,CLAUSULA DE CONSTITUCIÓN DE HIPOTECA,ner-escritura,SEGUNDA,10,SEGUNDA,10,True,True
4,50,df050,CLAUSULA_JURISDICCION_COMPETENCIA,CLAUSULA DE JURISDICCIÓN Y/O COMPETENCIA,ner-escritura,PRIMERA,12,CUARTA,13,False,False
...,...,...,...,...,...,...,...,...,...,...,...
90,42,df042,TEXTO_ACTUALIZACION,TEXTO DE ACTUALIZACIÓN,ner-escritura,EL TRABAJADOR ACEPTA EN ESTE ACTO QUE AL SA DA...,41,EL TRABAJADOR ACEPTA EN ESTE ACTO QUE AL SA DA...,41,True,True
91,47,df047,TEXTO_CLAUSULA_HIPOTECA,TEXTO DE CLAUSULA DE HIPOTECA,ner-escritura,EL TRABAJADOR Y SU CONYUCE MARICELA SUAREZ HER...,10,EL TRABAJADOR Y SU CONYUCE MARICELA SUAREZ HER...,10,True,True
92,104,df104,TIPO_INMUEBLE,TIPO DE INMUEBLE,ner-escritura,FINCA URBANA,55,FINCA URBANA,55,True,True
93,91,df091,TOTAL_CREDITO_VSM_LETRA,TOTAL DE CREDITO VSM EN LETRA (CONYUGE),ner-certificado,None,0,,-1,False,False
94,124,df124,VALOR_OPERACION,VALOR DE LA OPERACION (VALOR DEL AVALUO DE ADJ...,avaluo_adjudicacion,None,0,,-1,False,False

In [37]:
def value_result_counts(df, column):
    print("Value counts")
    print(df[column].value_counts())
    true = 0 
    false = 0
    for index, row in tabla_entidades3.iterrows():
        if (row['valor_real'] != "" and row['valor_real'] != "0"):
            if row[column]:
                true = true + 1
            else:
                false = false + 1
    print("*"*10)
    print("Eliminando entidades no encontradas en el excel de resultados:")
    print("True", true)
    print("False", false)

In [38]:
value_result_counts(tabla_entidades3, "texto_es_correcto")

Value counts
False    67
True     28
Name: texto_es_correcto, dtype: int64
**********
Eliminando entidades no encontradas en el excel de resultados:
True 28
False 8

In [39]:
value_result_counts(tabla_entidades3, "pagina_es_correcta")

Value counts
False    64
True     31
Name: pagina_es_correcta, dtype: int64
**********
Eliminando entidades no encontradas en el excel de resultados:
True 31
False 5

In [40]:
tabla_entidades3[tabla_entidades3["texto_es_correcto"]==False]

,id_cat_dato_fundamental,cod_dato_fundamental,entidad,des_dato_fundamental,modelo_ner,valor_encontrado,pagina_encontrado,valor_real,pagina_real,texto_es_correcto,pagina_es_correcta
0,6,df006,APODERADO,APODERADO,ner-general,None,0,,-1,False,False
1,106,df106,CIUDAD_INMUEBLE,CIUDAD DEL INMUEBLE,ner-escritura,,55,,-1,False,False
4,50,df050,CLAUSULA_JURISDICCION_COMPETENCIA,CLAUSULA DE JURISDICCIÓN Y/O COMPETENCIA,ner-escritura,PRIMERA,12,CUARTA,13,False,False
9,25,df025,CONDICIONES _CREDITO,CONDICIONES CRÉDITO OTORGADO,ner-certificado,None,0,,-1,False,False
10,68,df068,CONDICIONES _CREDITO,CONDICIONES CRÉDITO OTORGADO (CONYUGE),ner-certificado,None,0,,-1,False,False
...,...,...,...,...,...,...,...,...,...,...,...
86,30,df030,TASA_INTERES_MORATORIO,TASA DE INTERÉS MORATORIO,ner-escritura,13.7%,47,9.0 %,47,False,True
87,79,df079,TASA_INTERES_MORATORIO,TASA DE INTERÉS MORATORIO (CONYUGE),ner-escritura,,0,,-1,False,False
89,77,df077,TASA_INTERES_ORDINARIO,TASA DE INTERÉS ORDINARIO (CONYUGE),ner-escritura,6. OLAN 24,39,,-1,False,False
93,91,df091,TOTAL_CREDITO_VSM_LETRA,TOTAL DE CREDITO VSM EN LETRA (CONYUGE),ner-certificado,None,0,,-1,False,False
94,124,df124,VALOR_OPERACION,VALOR DE LA OPERACION (VALOR DEL AVALUO DE ADJ...,avaluo_adjudicacion,None,0,,-1,False,False